[Unit]
Description=Small Thin server monitoring Galera cluster members state - useful for HAProxy HTTP check
After=network.target

[Service]

Type=forking
User=galeraha
PermissionsStartOnly=true
WorkingDirectory=/home/galeraha
ExecStartPre=-/bin/mkdir -p /run/galera-ha
ExecStartPre=-/bin/touch /var/log/galera-ha.log
ExecStartPre=-/bin/chown galeraha /run/galera-ha/
ExecStartPre=-/bin/chown galeraha /var/log/galera-ha.log
ExecStart=/usr/local/bin/galera-ha
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
